@{
    ViewBag.Title = "Acerca de.";
    ViewBag.Nombre = "Erick Mayorga Juarez";
    ViewBag.Carnet = "2404002031";
}
<main aria-labelledby="title">
    
    <h1 id="title">@ViewBag.Title</h1>
    <h2 name="nombre">@ViewBag.Nombre</h2>
    <h2 carnet="carnet">@ViewBag.Carnet</h2>
    <h3>@ViewBag.Message</h3>


    <div>
        <img src="/imagenes/Erick.png">
    </div>

    <br />
    <table> </table>
    <p>
        Me presento, soy Erick Mayorga, Programador Junior, egresado de la Universidad de Occidente, Montesquieu,
        tengo 23 años, originario del municipio de Guatemala, he desarrollado proyectos individuales, pequeños pero funcionales
    </p>

</main>